
body, html {
    /*font-family: 'Shadows Into Light', cursive;*/
    /*font-family: 'Playfair Display', serif;*/

    font-family: 'Yanone Kaffeesatz', sans-serif;
    background: url("images/gacho-magazines.jpg") no-repeat center center fixed;
    /*background: url("img/moren-hsu-VLaKsTkmVhk-unsplash.jpg") no-repeat center center fixed;*/

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

h1, label, .logout-feedback, .invalid-feedback {
    color: white;
}

.container{
    height: 90%;
    align-content: center;
}


.card{
    height: 370px;
    margin-top: 25%;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}


.card-header h3{
    color: white;
}
