body {
    background-image: url("images/clown-cloud.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.desktop-logo{
    height:100px;
    width:100px
}

