body, html {
    height: 100%;
    margin:0;
    font-size: 16px;
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color:#666;
    background-image: url("images/clown-cloud.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.top-nav .navbar-items{
    background-color: #282e34;
    color:#ddd;
    margin-bottom:0;
}

.magazine{
    position: relative;
    margin-top: 6%;
}

.mobile-navbar{
    background-color: #282e34;
    color:#ddd;
}