body, html{
    height: 100%;
    margin:0;
    font-size: 16px;
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color:#666;
    background-image: url("images/clown-cloud.gif");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
}

.audioControl{
    position: relative;
    width: 100%
}

.albumCard{
    position: relative;
}

.scrollable{
    height: 33%;
    overflow-y: auto;
}

.albumInfo{
    height: auto;
}


/*.card-body{*/
/*    height: 75px;*/
/*}*/

.mediaLinks{
    display: flex;
}