<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>art</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" type='text/css' th:href="@{/navbar.css}">
    <link rel="stylesheet" type='text/css' th:href="@{/art.css}">
    <link rel="stylesheet" type='text/css' th:href="@{/catLoader.css}">
    <link rel="stylesheet" href="/static/art.css">
    <script src="https://sdk.amazonaws.com/js/aws-sdk-SDK_VERSION_NUMBER.js"></script>
    <script src="./s3_photoExample.js"></script>

</head>
<body>
<script>
    var albumBucketName = "";
    var bucketRegion = "";
    var IdentityPoolId = "";

    AWS.config.update({
        region: bucketRegion,
        credentials: new AWS.CognitoIdentityCredentials({
            IdentityPoolId: IdentityPoolId
        })
    });

    var s3 = new AWS.S3({
        apiVersion: "2006-03-01",
        params: { Bucket: albumBucketName }
    });

    // Album Creation Code
    function listAlbums() {
        s3.listObjects({ Delimiter: "/" }, function(err, data) {
            if (err) {
                return alert("There was an error listing your albums: " + err.message);
            } else {
                var albums = data.CommonPrefixes.map(function(commonPrefix) {
                    var prefix = commonPrefix.Prefix;
                    var albumName = decodeURIComponent(prefix.replace("/", ""));
                    return getHtml([
                        "<li>",
                        "<span onclick=\"deleteAlbum('" + albumName + "')\">X</span>",
                        "<span onclick=\"viewAlbum('" + albumName + "')\">",
                        albumName,
                        "</span>",
                        "</li>"
                    ]);
                });
                var message = albums.length
                    ? getHtml([
                        "<p>Click on an album name to view it.</p>",
                        "<p>Click on the X to delete the album.</p>"
                    ])
                    : "<p>You do not have any albums. Please Create album.";
                var htmlTemplate = [
                    "<h2>Albums</h2>",
                    message,
                    "<ul>",
                    getHtml(albums),
                    "</ul>",
                    "<button onclick=\"createAlbum(prompt('Enter Album Name:'))\">",
                    "Create New Album",
                    "</button>"
                ];
                document.getElementById("app").innerHTML = getHtml(htmlTemplate);
            }
        });
    }

    // function for viewing content of the album
    function viewAlbum(albumName) {
        var albumPhotosKey = encodeURIComponent(albumName) + "/";
        s3.listObjects({ Prefix: albumPhotosKey }, function(err, data) {
            if (err) {
                return alert("There was an error viewing your album: " + err.message);
            }
            // 'this' references the AWS.Response instance that represents the response
            var href = this.request.httpRequest.endpoint.href;
            var bucketUrl = href + albumBucketName + "/";

            var photos = data.Contents.map(function(photo) {
                var photoKey = photo.Key;
                var photoUrl = bucketUrl + encodeURIComponent(photoKey);
                return getHtml([
                    "<span>",
                    "<div>",
                    '<img style="width:128px;height:128px;" src="' + photoUrl + '"/>',
                    "</div>",
                    "<div>",
                    "<span onclick=\"deletePhoto('" +
                    albumName +
                    "','" +
                    photoKey +
                    "')\">",
                    "X",
                    "</span>",
                    "<span>",
                    photoKey.replace(albumPhotosKey, ""),
                    "</span>",
                    "</div>",
                    "</span>"
                ]);
            });
            var message = photos.length
                ? "<p>Click on the X to delete the photo</p>"
                : "<p>You do not have any photos in this album. Please add photos.</p>";
            var htmlTemplate = [
                "<h2>",
                "Album: " + albumName,
                "</h2>",
                message,
                "<div>",
                getHtml(photos),
                "</div>",
                '<input id="photoupload" type="file" accept="image/*">',
                '<button id="addphoto" onclick="addPhoto(\'' + albumName + "')\">",
                "Add Photo",
                "</button>",
                '<button onclick="listAlbums()">',
                "Back To Albums",
                "</button>"
            ];
            document.getElementById("app").innerHTML = getHtml(htmlTemplate);
        });
    }
 // function for adding photos to the album
    function addPhoto(albumName) {
        var files = document.getElementById("photoupload").files;
        if (!files.length) {
            return alert("Please choose a file to upload first.");
        }
        var file = files[0];
        var fileName = file.name;
        var albumPhotosKey = encodeURIComponent(albumName) + "/";

        var photoKey = albumPhotosKey + fileName;

        // Use S3 ManagedUpload class as it supports multipart uploads
        var upload = new AWS.S3.ManagedUpload({
            params: {
                Bucket: albumBucketName,
                Key: photoKey,
                Body: file
            }
        });

        var promise = upload.promise();

        promise.then(
            function(data) {
                alert("Successfully uploaded photo.");
                viewAlbum(albumName);
            },
            function(err) {
                return alert("There was an error uploading your photo: ", err.message);
            }
        );
    }
 // function for deleting photo from album
    function deletePhoto(albumName, photoKey) {
        s3.deleteObject({ Key: photoKey }, function(err, data) {
            if (err) {
                return alert("There was an error deleting your photo: ", err.message);
            }
            alert("Successfully deleted photo.");
            viewAlbum(albumName);
        });
    }

</script>

<script>
    window.addEventListener("load", function () {
        const loader = document.querySelector(".loader");
        loader.className += " hidden";
    })
    window.addEventListener("load", function () {
        const loader = document.querySelector(".mobileLoader");
        loader.className += " mobileHidden";
    })
</script>
<div class="d-block d-sm-block d-md-block d-lg-none">
    <div class="mobileLoader">
        <img th:src="@{/images/LoadingCat.gif}" alt="loading-cat" height="50%" width="225%">
    </div>
</div>
<div class="d-none d-lg-block d-xl-block">
    <div class="loader">
        <img th:src="@{/images/LoadingCat.gif}" alt="loading-cat">
    </div>
</div>
<!--mobile navbar -->
<div class="d-block d-sm-block d-md-block d-lg-none">
    <header>
        <nav class="mobile-navbar navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><img th:src="@{/images/Gacho-Icon-Black.png}" title="Gacho icon black"
                                                  width="50px" height="50px"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/art">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/music">Music</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shop">Magazine</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>
<!--desktop navbar-->
<div class="d-none d-lg-block d-xl-block">
    <div class="navigation-bar navbar-dark bg-dark">
        <div id="navigation-container">
            <a class="navbar-brand logo" href="/"><img th:src="@{/images/Gacho-icon-White.png}" title="Gacho icon black"
                                                       width="100px" height="100px"/></a>
            <nav class="desktop-nav-links">
                <ul>
                    <li><a href="shop">$hop</a></li>
                    <li><a href="music">Music</a></li>
                    <li><a href="magazine">Magazine</a></li>
                    <li>
                        <form th:action="@{/logout}" th:method="post">
                            <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<h1 class="heading">This will be art page</h1>
<div class="grid-container">
    <div class="Greeting"></div>
    <div class="first-grid">this is first grid</div>
    <div class="pic-2">2</div>
    <div class="pic-3">3</div>
    <div class="pic-4">4</div>
</div>
<!--<h1><a th:text="${#authentication.principal.username}"></a></h1>-->
<!--<h1><a th:if="${admin.id == 1}">-->
<!--    Show if logged in-->
<!--</a>-->
<!--</h1>-->
<div sec:authorize="isAuthenticated()">
<h1>
    Show if logged in
</h1>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>
</html>
