<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>art</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div>
    <nav class="top-nav">
        <ul id="links" class="navbar-items  d-flex justify-content-end" >
            <li class="m-2 d-inline-flex nav-item"><a href="shop">SHOP</a></li>
            <li class="m-2 d-inline-flex nav-item"><a href="music">MUSIC</a></li>
            <li class="m-2 d-inline-flex nav-item"><a href="magazine">MAGAZINE</a></li>
            <li class="m-2 d-inline-flex nav-item"><a href="/">HOME</a></li>
        </ul>
    </nav>
</div>
<h1>This will be art page</h1>
</body>
</html>