<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thyme leaf.org/extras/spring-security" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Music</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" type='text/css' th:href="@{/music.css}">
    <link rel="stylesheet" type='text/css' th:href="@{/navbar.css}">
    <link rel="stylesheet" type='text/css' th:href="@{/catLoader.css}">
    <script src="https://kit.fontawesome.com/4e791167da.js" crossorigin="anonymous"></script>
    <script>
        window.addEventListener("load", function () {
            const loader = document.querySelector(".loader");
            loader.className += " hidden";
        })
        window.addEventListener("load", function () {
            const loader = document.querySelector(".mobileLoader");
            loader.className += " mobileHidden";
        })
    </script>
</head>
<body>
<div class="d-block d-sm-block d-md-block d-lg-none">
    <div class="mobileLoader">
        <img th:src="@{/images/LoadingCat.gif}" alt="loading-cat" height="50%" width="225%">
    </div>
</div>
<div class="d-none d-lg-block d-xl-block">
    <div class="loader">
        <img th:src="@{/images/LoadingCat.gif}" alt="loading-cat">
    </div>
</div>
<section>
    <div class="d-block d-sm-block d-md-block d-lg-none">
        <header>
            <nav th:insert="partials/mobile-music-navbar :: mobile-music-navbar"/>
        </header>
    </div>
</section>
<section>
<!--    // desktop navbar-->
    <div class="d-none d-lg-block d-xl-block">
        <div class="navigation-bar navbar-dark bg-dark">
            <div id="navigation-container">
                <a class="navbar-brand logo" href="/"><img th:src="@{/images/Gacho-icon-White.png}" title="Gacho icon black"
                                                           width="100px" height="100px"/></a>
                <nav class="desktop-nav-links">
                    <ul>
                        <li><a href="art">Art</a></li>
                        <li><a href="magazine">Magazine</a></li>
                        <li><a href="music">Music</a></li>
                        <li><a href="shop">$hop</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 mt-5">
                <div class="albumCard d-flex justify-content-center">
                    <div class="card" style="width: 20rem; height: 45rem">
                        <img class="card-img-top" th:src="@{/dontworry/Zerktronic-Album-coverDontWorry_080720.jpg}"
                             alt="Dont worry cover album">
                        <div class="albumInfo">
                            <h3 class="card-title albumName d-flex justify-content-center">Don't Worry</h3>
                            <h4 class="card-text artist d-flex justify-content-center">Zerktronic</h4>
                            <h5 class="year d-flex justify-content-center">2020</h5>
                        </div>
                        <div>

                        </div>
                        <ul class="list-group list-group-flush scrollable">
                            <li class="list-group-item ">
                                <div class="trackTitle d-flex justify-content-center">
                                    <h5>Crying Again</h5>
                                </div>
                                <audio class="audioControl" controls>
                                    <source th:src="@{/dontworry/Crying-Again.wav}" type="audio/wav">
                                    Your browser does not support the audio element.
                                </audio>
                            </li>
                            <li class="list-group-item">
                                <div class="trackTitle d-flex justify-content-center">
                                    <h5>Did they forget you</h5>
                                </div>
                                <audio class="audioControl" controls>
                                    <source th:src="@{/dontworry/did-they-forget-you.wav}" type="audio/wav">
                                    Your browser does not support the audio element.
                                </audio>
                            </li>
                            <li class="list-group-item">
                                <div class="trackTitle d-flex justify-content-center">
                                    <h5>Duce, I'm Out</h5>
                                </div>
                                <audio class="audioControl" controls controlsList="nodownload">
                                    <source th:src="@{/dontworry/Duce-Im-out.wav}" type="audio/wav">
                                    Your browser does not support the audio element.
                                </audio>
                            </li>
                            <li class="list-group-item">
                                <div class="trackTitle d-flex justify-content-center">
                                    <h5>LALA In My Mind</h5>
                                </div>
                                <audio class="audioControl" controls controlsList="nodownload">
                                    <source th:src="@{/dontworry/LALA-in-my-mind.wav}" type="audio/wav">
                                    Your browser does not support the audio element.
                                </audio>
                            </li>
                            <li class="list-group-item">
                                <div class="trackTitle d-flex justify-content-center">
                                    <h5>Latebut still here</h5>
                                </div>
                                <audio class="audioControl" controls controlsList="nodownload">
                                    <source th:src="@{/dontworry/Late-but-still-here.wav}" type="audio/wav">
                                    Your browser does not support the audio element.
                                </audio>
                            </li>
                        </ul>
                        <div class="card-body mediaLinks d-flex justify-content-center">
                            <a class="btn spotifyLink" href="#">
                                <i class="fab fa-spotify fa-3x"></i>
                            </a>
                            <a class="btn spotifyLink" href="#">
                                <i class="fab fa-apple fa-3x"></i>
                            </a>
                            <a class="btn spotifyLink" href="#">
                                <i class="fab fa-youtube fa-3x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mt-5">
                <div class="albumCard d-flex justify-content-center">
                    <div class="card" style="width: 20rem; height: 45rem">
                        <img class="card-img-top" th:src="@{/dirtydishes/DirtyDishez.jpg}"
                             alt="Dont worry cover album">
                        <div class="albumInfo">
                            <h3 class="card-title albumName d-flex justify-content-center">Dirty Dishez</h3>
                            <h4 class="card-text artist d-flex justify-content-center">Zerktronic</h4>
                            <h5 class="year d-flex justify-content-center">2020</h5>
                        </div>
                        <div>

                        </div>
                        <ul class="list-group list-group-flush scrollable">
                            <li class="list-group-item ">
                                <div class="trackTitle d-flex justify-content-center">
                                    <h5>Boogie</h5>
                                </div>
                                <audio class="audioControl" controls>
                                    <source th:src="@{/dirtydishes/boogie.mp3}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            </li>
                            <li class="list-group-item">
                                <div class="trackTitle d-flex justify-content-center">
                                    <h5>Mind</h5>
                                </div>
                                <audio class="audioControl" controls>
                                    <source th:src="@{/dirtydishes/mind.mp3}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            </li>
                            <li class="list-group-item">
                                <div class="trackTitle d-flex justify-content-center">
                                    <h5>Ohh Ohh</h5>
                                </div>
                                <audio class="audioControl" controls controlsList="nodownload">
                                    <source th:src="@{/dirtydishes/ohh-ohh.mp3}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            </li>
                            <li class="list-group-item">
                                <div class="trackTitle d-flex justify-content-center">
                                    <h5>San Anto Groove</h5>
                                </div>
                                <audio class="audioControl" controls controlsList="nodownload">
                                    <source th:src="@{/dirtydishes/san-anto-groove.mp3}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            </li>
                        </ul>
                        <div class="card-body mediaLinks d-flex justify-content-center">
                            <a class="btn spotifyLink" href="#">
                                <i class="fab fa-spotify fa-3x"></i>
                            </a>
                            <a class="btn spotifyLink" href="#">
                                <i class="fab fa-apple fa-3x"></i>
                            </a>
                            <a class="btn spotifyLink" href="#">
                                <i class="fab fa-youtube fa-3x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mt-5">
                <div class="albumCard d-flex justify-content-center">
                    <div class="card" style="width: 20rem; height: 45rem">
                        <img class="card-img-top" th:src="@{/Brown-Boy-Funk/BrownBoyFunk-TapeCover.jpg}"
                             alt="Dont worry cover album">
                        <div class="albumInfo">
                            <h3 class="card-title albumName d-flex justify-content-center">Brown Boy Funk</h3>
                            <h4 class="card-text artist d-flex justify-content-center">Zerktronic</h4>
                            <h5 class="year d-flex justify-content-center">2020</h5>
                        </div>
                        <div>

                        </div>
                        <ul class="list-group list-group-flush scrollable">
                            <li class="list-group-item ">
                                <div class="trackTitle d-flex justify-content-center">
                                    <h5>Going Outside</h5>
                                </div>
                                <audio class="audioControl" controls>
                                    <source th:src="@{/Brown-Boy-Funk/Goingoutside.wav}" type="audio/wav">
                                    Your browser does not support the audio element.
                                </audio>
                            </li>
                            <li class="list-group-item">
                                <div class="trackTitle d-flex justify-content-center">
                                    <h5>House Sippin</h5>
                                </div>
                                <audio class="audioControl" controls>
                                    <source th:src="@{/Brown-Boy-Funk/House-Sippin.wav}" type="audio/wav">
                                    Your browser does not support the audio element.
                                </audio>
                            </li>
                            <li class="list-group-item">
                                <div class="trackTitle d-flex justify-content-center">
                                    <h5>Krookies</h5>
                                </div>
                                <audio class="audioControl" controls controlsList="nodownload">
                                    <source th:src="@{/Brown-Boy-Funk/Krookies.wav}" type="audio/wav">
                                    Your browser does not support the audio element.
                                </audio>
                            </li>
                            <li class="list-group-item">
                                <div class="trackTitle d-flex justify-content-center">
                                    <h5>Lost 1.1</h5>
                                </div>
                                <audio class="audioControl" controls controlsList="nodownload">
                                    <source th:src="@{/Brown-Boy-Funk/Lost-1-1.wav}" type="audio/wav">
                                    Your browser does not support the audio element.
                                </audio>
                            </li>
                        </ul>
                        <div class="card-body mediaLinks d-flex justify-content-center">
                            <a class="btn spotifyLink" href="#">
                                <i class="fab fa-spotify fa-3x"></i>
                            </a>
                            <a class="btn spotifyLink" href="#">
                                <i class="fab fa-apple fa-3x"></i>
                            </a>
                            <a class="btn spotifyLink" href="#">
                                <i class="fab fa-youtube fa-3x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</html>
