<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thyme leaf.org/extras/spring-security" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Music</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" type='text/css' th:href="@{/music.css}">
    <link rel="stylesheet" type='text/css' th:href="@{/navbar.css}">
    <link rel="stylesheet" type='text/css' th:href="@{/catLoader.css}">
    <script src="https://kit.fontawesome.com/4e791167da.js" crossorigin="anonymous"></script>
    <script>
        window.addEventListener("load", function () {
            const loader = document.querySelector(".loader");
            loader.className += " hidden";
        })
        window.addEventListener("load", function () {
            const loader = document.querySelector(".mobileLoader");
            loader.className += " mobileHidden";
        })
    </script>
</head>
<body>
<div class="d-block d-sm-block d-md-block d-lg-none">
    <div class="mobileLoader">
        <img th:src="@{/images/LoadingCat.gif}" alt="loading-cat" height="50%" width="225%">
    </div>
</div>
<div class="d-none d-lg-block d-xl-block">
    <div class="loader">
        <img th:src="@{/images/LoadingCat.gif}" alt="loading-cat">
    </div>
</div>
<section>
    <div class="d-block d-sm-block d-md-block d-lg-none">
        <header>
            <nav th:insert="partials/mobile-music-navbar :: mobile-music-navbar"/>
        </header>
    </div>
</section>
<section>
    <!--    // desktop navbar-->
    <div class="d-none d-lg-block d-xl-block">
        <div class="navigation-bar navbar-dark bg-dark">
            <div id="navigation-container">
                <a class="navbar-brand logo" href="/"><img th:src="@{/images/Gacho-icon-White.png}"
                                                           title="Gacho icon black"
                                                           width="100px" height="100px"/></a>
                <nav class="desktop-nav-links">
                    <ul>
                        <li><a href="art">Art</a></li>
                        <li><a href="magazine">Magazine</a></li>
                        <li><a href="music">Music</a></li>
                        <li><a href="shop">$hop</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="musicDesktop">
    <div class="d-none d-lg-block d-xl-block">
        <div class="container">
            <div class="row">
                <div class="col-6 text-center mt-5">
                    <iframe src="https://open.spotify.com/embed/album/5dOi6L7oNgZEe7G05EKHA9" width="400" height="480"
                            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
                <div class="col-6 text-center mt-5">
                    <iframe src="https://open.spotify.com/embed/album/4Vhgjt5Y7qxPaDermRF2AG" width="400" height="480"
                            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
                <div class="col-6 text-center mt-5">
                    <iframe src="https://open.spotify.com/embed/album/6J9L6Dke3fL1gJQjBsIyZq" width="400" height="480"
                            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
                <div class="col-6 text-center mt-5">
                    <iframe src="https://open.spotify.com/embed/album/53H9Cy29R8mKYNWE7QuhHg" width="400" height="480"
                            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="musicMobile">
    <div class="d-block d-sm-block d-md-block d-lg-none">
        <div class="album1 mt-3">
            <div class="d-flex justify-content-center">
                <h2>Don't Worry</h2>
            </div>
            <div class="d-flex justify-content-center">
                <!-- Trigger/Open The Modal -->
                <img class="myBtn" th:src="@{/images/dontworrycover.png}" alt="Dont_worry_album_art"
                     style="width:100%;max-width:300px">
            </div>
            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <span class="close">×</span>
                <iframe src="https://open.spotify.com/embed/album/5dOi6L7oNgZEe7G05EKHA9" width="100%"
                        height="480"
                        frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

            </div>
        </div>
        <div class="album2 mt-3">
            <div class="d-flex justify-content-center">

                <h2>Brown Boy Funk</h2>
            </div>
            <div class="d-flex justify-content-center">

                <!-- Trigger/Open The Modal -->
                <img class="myBtn" th:src="@{/images/brownboycover.jpg}" alt="Dont_worry_album_art"
                     style="width:100%;max-width:300px">
            </div>
            <!-- The Modal -->
            <div id="myModal2" class="modal">

                <!-- Modal content -->
                <span class="close">×</span>
                <iframe src="https://open.spotify.com/embed/album/4Vhgjt5Y7qxPaDermRF2AG" width="100%"
                        height="480"
                        frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
    </div>
</section>
</body>

<script>
    // Get the modal
    var modal = document.getElementsByClassName('modal');

    // Get the button that opens the modal
    var btn = document.getElementsByClassName("myBtn");


    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close");

    // When the user clicks the button, open the modal
    btn[0].onclick = function () {
        modal[0].style.display = "block";
    }

    btn[1].onclick = function () {
        modal[1].style.display = "block";
    }
    // When the user clicks on <span> (x), close the modal
    span[0].onclick = function () {
        modal[0].style.display = "none";
    }

    span[1].onclick = function () {
        modal[1].style.display = "none";
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</html>
