<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thyme leaf.org/extras/spring-security" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" type='text/css' th:href="@{/shop.css}">

</head>
<body>
<div>
    <nav class="top-nav">
        <ul id="links" class="navbar-items  d-flex justify-content-end" >
            <li class="m-2 d-inline-flex nav-item"><a href="#">ART</a></li>
            <li class="m-2 d-inline-flex nav-item"><a href="#">MUSIC</a></li>
            <li class="m-2 d-inline-flex nav-item"><a href="#">CONTACT</a></li>
            <li class="m-2 d-inline-flex nav-item"><a href="/">HOME</a></li>

        </ul>
    </nav>
</div>
</body>
</html>